@import 'normalize.css';
:root {
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#svelte {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	width: min(120ch, 100vh, 100%);
	margin: 1em auto 0;
}

.btn {
	border: 1px solid #333;
	background: white;
	padding: 1em 2em;
	text-decoration: none;
	color: black;
	font-family: inherit;
	border-radius: 0.3rem;
	box-shadow: 0.1rem 0.1rem 0.3rem #0006;
}

.btn:hover {
	background-color: #0006;
}

.btn:active {
	background-color: #0004;
	color: white;
	box-shadow: inset 0.1rem 0.1rem 0.3rem #0008;
}
