:root {
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#svelte {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	width: min(80ch, 100%);
	margin: 1em auto 0;
}

.btn {
	border: 1px solid black;
	background: white;
	padding: 1em 2em;
	text-decoration: none;
	color: black;
	font-family: inherit;
}

.btn:hover {
	background-color: lightgray;
}

.btn:active {
	background-color: gray;
	color: white;
}
